<div class="container-fluid">
    <h2>Company Basic Info Block:</h2>
    <div class="row">
        <div class="col-4">
            <p>
                <mat-form-field  appearance="outline">
                  <mat-label>Company Name</mat-label>
                  <input matInput placeholder="Company Name" >
        
                </mat-form-field>
              </p>
        </div>
        <div class="col-4">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Company Address</mat-label>
                  <input matInput placeholder="Company Address">
           
                </mat-form-field>
              </p>
        </div>
        <div class="col-4">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email">
              
                </mat-form-field>
              </p>
        </div>
        <div class="col-4">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Phone Number</mat-label>
                  <input matInput placeholder="Phone Number">
              
                </mat-form-field>
              </p>
        </div>
    </div>
</div>
<!-- employee info -->
<div class="container-fluid">
    <h2>Employee Info Block:</h2>
    <div class="row">
        <div class="col-4">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>	Employee Name </mat-label>
                  <input matInput placeholder="Employee Name " >
        
                </mat-form-field>
              </p>
        </div>
        <div class="col-4">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>	Designation </mat-label>
                  <input matInput placeholder="	Designation ">
           
                </mat-form-field>
              </p>
        </div>
        <div class="col-4">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>	Join Date </mat-label>
                  <input matInput placeholder="	Join Date ">
              
                </mat-form-field>
              </p>
        </div>
        <div class="col-4">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>	Email </mat-label>
                  <input matInput placeholder="	Email ">
              
                </mat-form-field>
              </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h2>Skills Info Block</h2>
    <div class="row">
        <div class="col-4">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>	Skill Set Name  </mat-label>
                  <input matInput placeholder="	Skill Set Name " >
        
                </mat-form-field>
              </p>
        </div>
        <div class="col-4">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Skill Rating </mat-label>
                  <input matInput placeholder="		Skill Rating  ">
           
                </mat-form-field>
              </p>
        </div>
  
    </div>
</div>





